<html>
<body>
<h1>List of partner accounts</h1>
<table border=1>
    <tr>
        <th></th>
        <th>Account name</th>
        <th>Percent rate</th>
        <th>Active until</th>
        <th>Active for days</th>
    </tr>

    {% for object in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ object.user }}</td>
        <td>{{ object.rate }}%</td>
        <td>{{ object.expire|default:"-" }}</td>
        <td>{{ object.days_left|default:"-" }} days</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>